#head{
    text-align: center;
    font-size: 44px;
}
#line{
    font-size: 22px;
}
#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#sign{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
#reg{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
#login_email{
    width: 350px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #231f20;
    font-size: 16px;
    border-radius: 0;
    margin-bottom: 15px;
}
#login_password{
    width: 350px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #231f20;

    border-radius: 0;
    margin-bottom: 15px;
}
#login{
    padding: 30px, 50px;
    background-color: #231f20;
    color: #fff;
    height: 50px;
    width: 180px;
    margin-bottom: 100px;
}
#reg-button{
    text-align: center;
}
#register{
    padding: 30px, 50px;
    background-color: #231f20;
    color: #fff;
    height: 50px;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 100px;

}
#massage-signout{
    display: flex;
justify-content: space-between;
margin-left: 25px;
    margin-right: 25px;
}
#logout{
    background-color: #231f20;
    color: #fff;
    width: 130px;
    height: 30px;
  margin-top: 35px;

}
#point{
    margin-left: 100px;
}
#reg-head{
    text-align: center;
}

        #register:hover {
        background-color: gray;
            cursor: pointer;
        }
        #login:hover {
            background-color: gray;
                cursor: pointer;
            }
            #gmail{
                text-align: center;
            }
            #pass{
                text-align: center;
            }
            #forget a {
                color: #231f20;
                margin-left: 122px;
            }
            #login{
                margin-left: 122px;
                margin-top: 15px;

            }
            #head-sign{
                text-align: center;
            }