*{
    margin: 0px;
    
}
/* header{
    width:100%;
    height: 90px;
} */
#cart_heading{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
    font-size:20px;
    font-family:'Montserrat', sans-serif;
}
#cartDisplay{
    margin-bottom: 80px;
    text-align: center;
}
#cartDisplay>h3{
    margin-bottom: 30px;
    font-size: 25px;
    font-family:'Montserrat', sans-serif; 
}
#cartDisplay>button{
     padding: 20px 40px;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    font-weight: 400;
    transition: all .3s ease;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #231f20;
    font-family: Urbanist,Helvetica,Arial,sans-serif;
}
#cartDisplay>button:hover{
    color: #231f20;
    background-color: #f8f7f6;
    border: none;
    cursor: pointer;
}
#cartMain>#bestseller_section>#emptyHeadingDiv>h1{
    padding: 50px 0px;
    text-align: center;
    font-size: 32px;
   
    font-family:'Montserrat', sans-serif;

}
#cartMain>#bestseller_section>#ProductDiv{
    display:flex;
   
}
#cartMain>#bestseller_section>#ProductDiv>.seller{
    width:25%;
    margin:0px 5px;
    text-align: center;
}
#cartMain>#bestseller_section>#ProductDiv>.seller>img{
    width:100%;
}
#cartMain>#bestseller_section>#ProductDiv>.seller>a{
    align-self: center;
    color: black;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    
}
#cartMain>#bestseller_section>#ProductDiv>.seller>a:active{
    border: 2px solid #231f20;
}
#cartMain>#bestseller_section>#ProductDiv>.seller>p{
color: #494744;
font-weight:700;
}
table{
width:70%;
margin: auto;
margin-bottom: 27px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;;
}
table>thead>tr>th{
    text-align: left;
    border-bottom: 1px solid  grey;
    padding-bottom: 15px;
    font-size:16px;
    font-family: 'Urbanist', sans-serif;
}
table>thead>tr>th:first-child{
    width:50%;
    padding-left: 30px;
}
table>thead>tr>th:nth-child(4){
    text-align: right;
    padding-right: 30px;
}

table>thead>tr>th:nth-child(2){
    width:16.5%;
}
table>tbody>tr>td{
    text-align: left;
    padding-top: 35px;
    padding-bottom: 20px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid  grey;

}
table>tbody>tr>td:nth-child(1){
padding-top:20px;
display:flex;
justify-content: space-between;
}
table>tbody>tr>td:nth-child(1)>#tdDiv{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;  
}

table>tbody>tr>td:nth-child(1)>#tdDiv>div{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}
table>tbody>tr>td:nth-child(4){
    text-align: right;
    padding-right: 30px;
}
table>tbody>tr>td:nth-child(1)>#tdDiv>#removeDiv>a{
    color:grey;
    cursor:pointer;
    text-decoration: underline;
}
table>tbody>tr>td:nth-child(3)>#quantityBloc{
    display:flex;
    border:1px solid #cecece;
    width:50px;
    height: 60px;
}
table>tbody>tr>td:nth-child(3)>#quantityBloc>P{
    padding-top: 15px;
    padding-left:8px;
    padding-right:9px;
}
table>tbody>tr>td:nth-child(3)>#quantityBloc>#buttonDiv>button{
    display: block;
    border:0.1px solid #cecece;
    background-color: #fff;
    border-radius: none;
    height: 50%;

}
#cartDisplay>#main{
    display:flex;
    /* justify-content: space-around; */
    gap: 50px;
    width: 65%;
    margin: auto;
    
}
#cartDisplay>#main>div{
    width:50%;
}
#half2{
    border: #231f20;
}
/* #subdiv{
display: flex;
justify-content: space-between;
gap: 50px;
width:60%;
margin: 10px 15px 0px auto;
font:18px;
font-family: 'Urbanist', sans-serif;
font-weight: 700;
} */
#half2{
    background-image: url("https://www.shutterstock.com/image-vector/grunge-rubber-stamp-word-bill-260nw-151043015.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}
#half2>div{
    width: 100%;
}
#orderDiv,#shippingchrg,#totalamountdiv,#discountdiv,#parentd,#subdiv{
    display:flex;
    justify-content: space-between;
    width:60%;
    gap: 50px;
    margin:10px 15px 0px auto ;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin-bottom: 34px;
}
#payeediv{
    margin:10px 15px 0px auto ;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin-bottom: 34px;
}
#topw{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
#parentd{
    font-size: 25px;
    text-align: center;
    
    margin-bottom: 40px;
}
/* #half1{
    text-align: start;
} */
#ideal,#inpu{
    margin-top: 30px;
}
#newdiv, #olddiv{
    display:flex;
    justify-content: space-between;
    width:100%;
    gap: 50px;
    margin:10px 15px 0px auto ;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin-bottom: 34px;
}
#inform,#credit,#giropay,#paypal{
    text-align: start;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin-bottom: 34px;
}

#paylast{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px
    ;
}
#paylast>button{
    padding: 20px 46px 20px 46px;
    background-color:#64aeb1;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    
}
#mydiv4{
    margin-top: 40px;
}
#label1, #label2, #label3, #label4, #ideal, #pay{
    font-size: 18px;
}
 #cntctdet{
    font-size: 18px;
    width: 100%;
    text-align: start;
 }
 #input{
    padding: 10px;
    border-radius: 8px;
 }
#mydivi, #mydiv3, #mydiv4{
    display: flex;
    gap: 40px;
    background-color: #cecece;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
#mydiv2{
    display: flex;
    gap: 40px;
    background-color: #cecece;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
#half1{
    background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    padding: 20px;
    border-radius: 8px;
    
}
#half2{
     box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    padding: 5px 30px 0px 30px;
}
#ideal{
    font-size: 20px;
    text-align: start;
    margin-top: 42px;
}
#inpu{
    padding: 15px;
    border-radius: 8px;
    padding-left: 53px;
}